#header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    .ui-popup__content__content{
        min-width: 170px;
    }
}

.container-box {
    padding-left: 3.4%;
    padding-right: 3.4%;
    margin-top: 12px;
}

.header-container {
    display: flex;
    align-items: center;
    min-height: 44px;
}

.header-bottom {
    padding-top: 4px;
    padding-bottom: 8px;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.14), 0px 1.6px 3.6px rgba(0, 0, 0, 0.12);
}

.header-search-bar .ant-form-horizontal .ant-row,
.header-search-bar .ant-form-horizontal .header-search-form-item {
    margin: 0;
}

.header-search-bar .ant-form-horizontal .ant-row input {
    background: #F8F8F8;
    border-radius: 8px;
    border: none;
    padding: 10px 10.75px 10px 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5E5E5E;
}

.header-search-bar .ant-form-horizontal .ant-row input::placeholder {
    color: #5E5E5E;
}

.header-search-form-item {
    position: relative;
}

.header-search-form-icon {
    position: absolute;
}

.header-search-form-icon svg {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 10.75px;
    top: 11px;
    color: #5E5E5E;
    z-index: 3;
}

.header-bottom .header-bottom-extrasearch {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 3;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .header-bottom-extrasearch svg {
    // position: absolute;
    width: 16px;
    height: 16px;
    // top: 12px;
    // right: 16px;
    line-height: 100%;
}

.content-container.works-page .header-bottom-filter,
.header-bottom-filter.on-close {
    position: fixed;
    top: 15px;
    right: 6.4%;
    z-index: 5;
    line-height: 44px;
}

.header-bottom .breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .breadcrumb .breadcrumb-icon {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: space-between;
}

.header-bottom .breadcrumb .breadcrumb-icon svg,
.header-bottom .breadcrumb .breadcrumb-icon path {
    cursor: pointer;
    fill: #8D8D8D;
}

.header-bottom .breadcrumb .breadcrumb-icon span:hover svg,
.header-bottom .breadcrumb .breadcrumb-icon span:focus svg,
.header-bottom .breadcrumb .breadcrumb-icon span:hover path,
.header-bottom .breadcrumb .breadcrumb-icon span:focus path,
.header-bottom .breadcrumb .breadcrumb-icon span.active-tab svg,
.header-bottom .breadcrumb .breadcrumb-icon span.active-tab path {
    fill: #006C98;
}

.header-bottom.breadcrumb-container {
    padding: 16px 0 12px;
}

.header-bottom.breadcrumb-container .breadcrumb-back {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #006C98;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;

    cursor: pointer;
}

.ant-avatar.ant-avatar-circle.ant-avatar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-avatar-button {
    margin: 0;
    padding: 0;
    line-height: unset;
    height: unset;
    border: none;
    box-shadow: none;
    border-radius: 50%;
}

.header-avatar-button:hover,
.header-avatar-button:focus,
.header-avatar-button:active {
    border-color: transparent;
    border: none;
    outline: none;
}

@media screen and (max-width: 575px) {  
    #header {
        .ui-image{
            margin-right: 10px;
            margin-bottom: 10px;
        }

    }

}